.popup__container {
	background-color: #fff;
	max-width: 430px;
	display: flex;
	flex-direction: column;
	gap: 54px;
	margin: -110px auto 0 auto;
	padding: 34px 36px 37px 36px;
	box-shadow: 0 0 0.15px;
	border-radius: 10px;
	box-sizing: border-box;
	position: relative;
}


@media screen and (max-width: 649px) and (min-width: 320px) {
.popup__container {
	max-width: 282px;
	gap: 75px;
	padding: 16px 22px 25px;
}
}