.popup__field_profession {
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 1);
	background-color: transparent;
	padding-bottom: 13px;
}

.popup__field_profession:focus {
	outline-color: rgb(8, 113, 155);
}

